<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>
<!--container-->
<div class="container">
    <!--row-->
    <div class="row clearfix">
        <!--column-->
        <div class="col-md-12 column">
            <!--page-header-->
            <div class="page-header">
                <h1>
                    AshenOne
                    <small>Reborn from fire.</small>
                </h1>
            </div>
            <!--nav-->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#">Java</a>
                </li>
                <li>
                    <a href="#">JavaScript</a>
                </li>
                <li>
                    <a href="#">Security</a>
                </li>
                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">About<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Myself</a>
                        </li>
                        <li>
                            <a href="#">Community</a>
                        </li>
                        <li>
                            <a href="#">Cooperation</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">Manage</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--text-->
            <#if list?? && (list?size > 0)>
                <#list list as item>
                    <h2>
                        ${item.title!''}
                    </h2>
                    <p>
                        ${item.content!''}
                    </p>
                    <p>
                        <a class="btn" href="#">View details »</a>
                    </p>
                </#list>
            </#if>

        </div>
    </div>
</div>
</body>
</html>
<script>

</script>